.footerRow {
background-color: #1C2937;
padding:5%;
padding-top: 120px;
padding-left: 10%;
padding-right: 10%;


}
.vertical-col{
  
  padding: 10px;
  padding-left: 0;
}
.footer-logo{
  width: 220px;
}
.ls-desc{
  color:  #FFFFFFBF;
}
.envelope-img{
  width: 20px;
}
.email-id{
  margin-left: 10px;
  color:  #FFFFFFBF ;
}
.col-heading{
  color: #FEEFD8;
  margin-top: 0;
}
.pointer{
  padding-left: 10px;
  color: #FEEFD8;
}
.footer-line{
  height: 1px;
  width: 100%;
  background-color: white;
}
.social-media{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.company-name{
 color: #FEEFD8;
}
.company-name-div{
  width: 100%;
  text-align: center;
}
