.ac-b2-outer{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    @media (max-width: 950px) {
        width: 100%;
        }

}
.ac-b2-title{
    padding: 10px;
    margin: 0;
}
.ac-b2-row{
    padding: 10px;
    width: 100%;
    height: 100%;
    :hover{
        cursor: pointer;
    }
    

}
.ac-b2-img{
  width: 100%;
    border-radius: 20px;
    padding: 0px;
    margin-top: 10px;
}
.ac-b2-desc-col{
    padding: 20px;
    width: 100%;
}
.ac-b2-desc-title{
    margin: 0;
   width: 100%; 
}
.ac-b2-price{
    margin-left: auto;
}
.ac-b2-priceWithoutOffer{
    margin-left: auto;
    text-decoration: line-through;
}
.ac-b2-desc{
    width: 80%;
    font-size: small;
    line-height: 1.5;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    display: -webkit-box;
    @media (max-width: 950px) {
        width: 100%;
    }
}
.ac-b2-divider{
    width: 100%;
    height: 1px;
    background-color: rgb(202, 201, 201);
    margin-top: 10px;
}
.ac-b2-img-col{
    margin-left: auto;
    margin-right: auto;
    
}
.ac-b2-price-col{
    width: 100%;
}
.location-grey{
    width: 16px;
    height: 16px;
}
.ac-b2-location{
    font-size: small;
    margin: 0;
    margin-bottom: 0px;
    margin-left: 5px;
    color:#7b7979;
}
.ac-b2-segment-row{
    width: 100%;
}
.ac-b2-segment{
    margin-left: auto;
    margin-right: auto;
}
.ant-segmented {
    background-color: rgb(226, 115, 89);
   color:white; 
   :hover{
    color: white;
   }
  }

  label.ant-segmented-item.ant-segmented-item-selected {
    color: rgb(0, 0, 0);
    :hover{
        color:rgb(226, 115, 89);
    }

  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }