.third-banner{
    margin:40% 0% 05 40%   ;
background-color: #fefcf6;
    
}
.titleRow{
    justify-content: center;
    width: 100%;
    margin-top: 7%;
}
.cardRow{
  

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}
.courseCard{

   padding: 10px;
}
.cardImg{
    width: 100%;
}
.card{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 120px;
    margin-bottom: 80px;
    box-shadow: -1px 21px 120px -4px rgba(252,121,85,0.26);
}
.card-image-div{
    position: absolute;
    top: 0;
}

.thirdHeading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

