@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.heading{
    font-family: 'Lora', serif;
}
.first-heading{
    font-family: 'Lora', serif;
}
.second{
    font-family: 'Lora', serif;
    font-style: italic;
}
.type-usage{
    font-family:'Lora';
    color: white;
}
.raleway{
    font-family: 'raleway',sans-serif;
}

