.fb-outer{
    padding-left: 50px;
    padding-bottom: 30px;
}
.trendCreateButton{
    background-color: green;
    float: right;
    margin-right: 30px;
    color: white;
    
}
.tr-button-row{
    width: 100%;
}
.treand-table{
    width: 100%;
    margin-top: 30px;
}