.cd-b1-outer {
  width: 100%;
  background-color: #1c2937;
  overflow: auto;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url("../../../assets/images/Group.png");
background-size: contain;
  background-repeat: no-repeat;
  @media (max-width: 950px) {
    padding-left: 20px;
    padding-right: 5px;
    width: 100%;
  }
}

.cd-b1-side {
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    margin-left: 50%;
    @media (max-width: 950px) {
        position: relative;
        margin-left: 0;
        padding: 0;
      }
}
.cd-b1-text {
  width: 55%;
  margin-top: 100px;
  padding-right: 20px;
  margin-bottom: 100px;

  @media (max-width: 950px) {
    width: 80%;
  }
}
.cd-b1-iframe {
 width: 22vw;
 height: 40vw;
 border-radius: 30px;
  @media (max-width: 950px) {
   width: 95%;
   height: 250px;
   border-radius: 0;
   padding-bottom: 10px;
  }
}
.cd-b1-desc {
  margin-top: 40px;
  line-height: 30px;
  color: white;
  
}
.cd-b1-price-div{
  width: 100%;
  border: thin;
}
.cd-b1-price{
  color: white;
}

.cd-b1-form-Row{
  width: 100%;
  border-radius: 30px;
  background-color: #f9f9f9;
  margin-top: 20px;
  @media (max-width: 950px) {
    width: 95%;
    margin-bottom: 10px;
  }
}
.course-form-label {
  width: 100%;
  margin: 8px;
  padding-left: 20px;
  margin-bottom: 0;
}
.course-halfForm {
  width: 100%;
  padding: 20px;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 5px;
}
.course-input {
  border-radius: 30px;
  height: 40px;
  padding-left: 20px;
}
.course-form{
  width: 100%;
}
.location-icon{

  width: 25px;
  height: 25px;
  margin: 10px;
  margin-left:0px ;
  margin-bottom: 0;
  margin-top: 15px;
}
.location{
  color: white;
  font-size: medium;
}