.td-submit-button{
    margin-left: 10px;
    background-color: green;
    color: white;

}
.td-cancel-button{
    margin-left: 29%;
    background-color: rgb(199, 0, 0);
    color: white;
}
.b5-trend-select{
    margin-bottom: 5px;
}