.outer-row {
    padding: 8%;
    padding-top: 8%;
    background-image:url("../../../assets/images/Rectangle\ 155.png") ;
    background-size: cover;
  background-repeat: no-repeat;
    
}
.second-column {
    padding-top: 65px;
    text-align: left;
    padding-bottom: 40px;
}
.welcome{
    size: 300px;
}

.availableOn{
    width: 140px;
    height: 44.56px;
    border-radius: 5px;
    margin-left: 0px;
    margin:10px
    
}