.achivement-out {
  width: 80%;
  display: inline-flex;
  height: 148px;
  background-color: #1c2937;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 0px 0px 25px 25px;
  @media (max-width: 768px) {
    width: 100%;
    margin:0;
    overflow-x: scroll;
    border-radius: 0px 0px 0px 0px;
  }
}

.achivement-background{
  width: 100%;
  background-color:#fefcf6 ;
}
.achivements {
  color: rgb(255, 115, 83);
}

.appScaleLogo {
  margin-left: 15px;
  @media (max-width: 768px) {
    width: 300px;
  }
}
.logo-div {
  width: 300px;
}
.vertical-divider {
  width: 2px;
  height: 40%;
  background-color: #2f3d5a;
  margin: 0 10px;
  margin-top: 40px;
}
.achivement-sub {
  width: 100%;
  text-align: center;
  min-width: 180px;
}
.achivement-logo {
  padding-top: 25px;
  width: 350px;
  @media (max-width: 768px) {
    width: 320px;
  }
}
.achivement-marquee {
  width: 100%;
 
  display: flex;
  flex-wrap: nowrap;
  @media (min-width: 768px) {
    display: none;
  }
}
.achivement {
  width: 100%;
  padding-left: 28px;
  display: flex;
  flex-wrap: nowrap;
  @media (max-width: 768px) {
    display: none;
  }
}
.achivement-text {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.achivement-out::-webkit-scrollbar {
  display: none;
}
.marquee{
  @media (max-width: 768px) {
    display: block;
  }
}
